/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/container.css');
@import url('components/cards.css');
@import url('components/footer.css');

body {
  margin: 0;
  font-family: Open Sans;
  background-color: #f6f6f6;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

