#banner {
  height: 600px;
  width: 100%;
  color: white;
  margin: 0 auto;
}

#banner h1 {
  font-family: 'Merriweather Sans', sans-serif;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}


#banner p {
  margin-bottom: 30px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

