.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  background: transparent;
  width: 180px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  padding: 26px;
}

.card img {
  height: 40%;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.card h3 {
  margin: 0;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
  color: #aaaaaa;
}
