.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

#how-it-works.container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

