#footer {
  padding-top: 20px;
  width: 100%;
  height: 150px;
  background-color: #5b5b5b;
  display: flex;
  justify-content: center;
}

#footer p {
  color: rgb(220, 220, 220);
  text-align: center;
}

.social-icon {
  color: rgb(220, 220, 220);
  font-size: 26px;
}

.social-icon:hover {
  color: rgb(200, 200, 200);
}

.list-inline {
  list-style: none;
  padding-left: 0;
  margin: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}
